    @{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"><h2><b>Qual serviço você precisa?</b></h2></div>
<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
<div class="control-group">
    <div class="row">
        <div class="col-md-12 text-center" id="servico">
            <!--<select name="servico" id="servico" class="form-control input-lg"></select>-->

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div id="map" class="col-md-12" style="height:350px; text-align:center"></div>
    </div>
</div>
<div class="row" id="lstServico">
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            var idServico =  @TempData["idServico"].ToString();

            $.ajax({
                type: "POST",
                url: 'http://@(Session["nomeServidor"])/Home/ListarServico/?idServico=' + idServico ,
                dataType: "json",
                success: function (result) {
                    html = "<div class=\"col-xs-12 text-center skill-one\" style=\"height:240px\">";
                    
                    $.each(result, function (i, data) {
                        //html = "<div class=\"col-xs-6 col-lg-4 text-center skill-one\" style=\"height:240px\">";
                        //html += "   <div class=\"twitter\">";
                        //html += "       <span class=\"twitter\"><lable>"+data.descricao+"</lable></span>";
                        //html += "       <div class=\"t-inner\">";
                        //html += "           <input type=\"checkbox\" class=\"hidden\" name=\"idServico\" id=\"" + data.idServico + "\" value=\"" + data.idServico + "\" >";
                        //html += "           <img class=\"idServico\" style=\"cursor:pointer; width:30%; height:60%;\" idServico=\""+data.idServico+"\" src=\"http://@(Session["nomeServidor"])/Content/Images/grande/" + data.Imagem + "\" alt=\""+data.descricao+"\">";
                        //html += "       </div>";
                        //html += "   </div>";
                        //html += "</div>";

                        //html = '<div class="social">';
                        //html += '<div class="col-md-3 social-left ph">';
                        //html += '	<div class="img"><img class="img-responsive" src="images/fb.png" alt=""></div><span>100k</span>';
                        //html += '</div>';
                        //html += '<div class="col-md-3 social-left social-middle">';
                        //html += '	<div class="img"><img class="img-responsive" src="images/tw.png" alt=""></div><span class="tw">100k</span>';
                        //html += '</div>';
                        //html += '<div class="col-md-3 social-left social-right">';
                        //html += '    <div class="img"><img class="img-responsive" src="images/gmail.png" alt=""></div><span class="gmail">100k</span>';
                        //html += '</div>';
                        //html += '<div class="col-md-3 social-left social-lost">';
                        //html += '    <div class="img"><img class="img-responsive" src="images/email.png" alt=""></div><span class="email">100k</span>';
                        //html += '</div>';
                        //html += '<div class="clearfix"></div>';
                        //html += '</div>';

                        //html =  '<div class="col-xs-4 col-lg-4 first-one servicoElem" style=\"cursor:pointer;\" data-idservico="'+ data.idServico +'">';
                        //html += '   <div class="first-one-inner lost" style="width:350px; height:200px;">             ';
                        //html += '       <div class="here">                         ';
                        //html += "           <img class=\"idServico\" style=\"width:30%; height:60%;\" idServico=\""+data.idServico+"\" src=\"http://@(Session["nomeServidor"])/Content/Images/grande/" + data.Imagem + "\" alt=\""+data.descricao+"\">";
                        //html += '		    <h4>'+data.descricao+'</h4>           ';
                        //html += '	    </div>                                      ';
                        //html += '   </div>                                        ';
                        //html += ' </div>                                        ';
                        //alert(i);
                        //if(i%4 == 0 && i > 0)
                        //    html += '<div class="row">';
                        
                        html += '<div class=\"social servicoElem\" style=\"cursor:pointer;\" data-idservico="'+ data.idServico +'">';
                        html += '<div class=\"col-md-3 social-left\" style=\"width:124px; height:91px;\">';
                        html += '	<div class=\"img\">';
                        html += "           <img class=\"idServico\" idServico=\""+data.idServico+"\" src=\"http://@(Session["nomeServidor"])/Content/Images/" + data.Imagem + "\" alt=\""+data.descricao+"\">";
                        html += '   </div><span class=\"tw\">'+data.descricao+'</span>';
                        html += '</div>';
                        html += '</div>';
                        if((i+1)%4 == 0 )
                            html += '<div class="row"></div>';   

                    });
                    
                    html += '</div>';

                    $('#servico').append(html);
                }
            }).done(function () {
                $('.idServico').click(function () {
                    var idServico = $(this).attr("idServico");
                    var elem = $(this).closest("div");

                    if ($('#' + idServico).attr("checked") == "checked") {
                        elem.fadeTo(950, 0.5);
                        $('#' + idServico).attr("checked", false);
                    } else {
                        elem.fadeTo(950, 10);
                        $('#' + idServico).attr("checked", true);
                    }
                });

                $(".servicoElem").click(function () {
                    window.location = 'http://@(Session["nomeServidor"])/Home/Index/?idServico=' + $(this).attr('data-idservico');
                });
            });
        });
    </script>
}